<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <header>
        <h1>Library Management System</h1>
        <nav>
        <table>
            <tr>
            <td><a href="{{ url_for('authors') }}">Authors</a></td>
            <td><a href="{{ url_for('books') }}">Books</a></td>
            </tr>
         </table>
            <!-- Add other navigation links here -->
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
