{% extends "base.html" %}

{% block content %}
<h2>Book Copies</h2>
<table border="1">
    {% for Book, BookCopy, Loan, Member in title %}
    <tr>
        <td>{{ BookCopy.CopyID }}</td>
        <td>{{ Book.Title }}</td>
        <td> {{ BookCopy.ShelfLocation }}</td>
        <td>{{BookCopy.Status}}</td>
        <td>{{Loan.LoanID}}</td>
        <td>{{Loan.LoanDate}}</td>
        <td>{{Loan.DueDate}}</td>
        <td>{{Loan.ReturnDate}}</td>
        <td>{{Member.FirstName}} {{Member.LastName}}</td>
        <td>{{Member.Phone}}</td>
    </tr>
    {% endfor %}
</table>
<h3>New Copy</h3>
<form action = "{{ url_for('newcopy') }}" method="POST">
    <input type="hidden" name="title" value="{{ title[0].Book.BookID}}">
    <input type="hidden" name="status" value="Available">
    <input type="text" name="shelf" placeholder="Enter Location">
    <button type="submit">Add</button>
</form>
{% endblock %}